---

---

<section class="about container" id="about">
    <div>
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            ><path
                d="M7.5 6.5C7.5 8.981 9.519 11 12 11s4.5-2.019 4.5-4.5S14.481 2 12 2 7.5 4.019 7.5 6.5zM20 21h1v-1c0-3.859-3.141-7-7-7h-4c-3.86 0-7 3.141-7 7v1h17z"
            ></path></svg
        >
        <span>Sobre mí</span>
    </div>

    <article>
        <figure>
            <img src="" alt="">
        </figure>

        <p>
            ¡Hola! Me llamo Enrique y soy un desarrollador web frontend enfocado en mejorar constantemente mis habilidades y crecer profesionalmente. Me especializo en el desarrollo frontend, con un enfoque particular en React. Aparte de utilizar HTML, CSS y Javascript para crear este portafolio, decidí emplear Astro, un framework nuevo basado en componentes, perfecto para páginas estáticas. Esta elección me permitió explorar nuevas tecnologías y fortalecer mi comprensión del desarrollo web. Valorando la colaboración y el intercambio de conocimientos, estoy comprometido a trabajar en equipo y aprender de profesionales más experimentados. Mi objetivo es contribuir de manera significativa en proyectos desafiantes, aportando mi dedicación y creatividad.
        </p>
    </article>
</section>

<style>
    .about {
        font-size: 30px;
        font-weight: var(--font-bold);
        /* border: 1px solid white; */
    }

    .about div:first-child {
        display: flex;
        align-items: center;
        gap: 13px;
    }

    .about div:first-child svg {
        width: 31px;
        height: 31px;
        fill: var(--color-title);
    }

    p{
        font-size: initial;
        font-weight: normal;
        color: var(--color-secondary);
        text-align: left;
        margin-bottom: 1em;
    }
</style>
